<footer>
  <div class="content-padding">
      <div class="footer-content">
        <p>CopyRight &copy; EXPRESS JS </p>
        <div class="social-media-icons">
            <a href="#"><i class="fa fa-empire"></i></a>
            <a href="#"><i class="fa fa-rebel"></i></a>
        </div><!--social-media-icons-->
      </div><!--footer-content-->
  </div><!--content-padding-->
</footer>
